body {
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  height: 50.75rem;
}

.status {
  display: flex;
  justify-content: space-between;
  background-color: red;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.status > .day {
  margin: 0.5rem 1.5rem;
  padding: 0 0.5rem;
  background-color: tomato;
  border-radius: 2rem;
}

.status > .day > span {
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  background-color: red;
}

.header > .item {
  flex: 0.5;
  color: #fff;
}

.header > .item + .center {
  flex: 2;
  font-weight: bold;
}

.header > .item + .right {
  cursor: pointer;
}

.header > .item > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0 1.5rem;
  background-color: #eee1c0;
  background-image:
    radial-gradient(#f7eccf 20%, transparent 20%),
    radial-gradient(#f7eccf 20%, transparent 20%);
  background-size: 1.5rem 1.5rem;
  background-position: 0 0, 0.75rem 0.75rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.content > .title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.content > .title > img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.content > .title > span {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.content > .main-container {
  border-radius: 5rem;
  background-color: #f6f1e6;
  margin-top: 1rem;
  padding: 2rem 2.5rem;
  height: 30rem;
}

.content > .main-container > .main-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content > .main-container > .main-header > .item > span {
  font-size: 0.875rem;
  font-weight: bold;
  color: #e4ddd0;
}

.content > .main-container > .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content > .main-container > .main-content > .item {
  width: 41%;
  margin-top: 1rem;
  cursor: pointer;
}

.content > .main-container > .main-content > .item > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=checkbox] {
  display: none;
}

#passport:checked ~ .container > .content {
  display: none;
}

#passport:checked ~ .container > .passport-content {
  display: block;
}

.content > .main-container > .main-content > .item > label > img {
  object-fit: contain;
  width: 5rem;
  height: 5rem;
}

.content > .main-container > .main-content > .item > label > span {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4d3b18;
  margin-top: 0.5rem;
}

.content > .main-container > .main-content > .item:active > label > img {
  animation-name: sizeScale;
  animation-duration: 0.2s;
}

@keyframes sizeScale {
  50% {
    width: 4.5rem;
  }
  100% {
    width: 5rem;
  }
}

.none {
  display: none;
}

.passport-content {
  animation-name: fadein;
  animation-duration: 0.3s;
  background-color: #f7f2e7;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.passport-header-container {
  position: relative;
  background: inherit;
}

.passport-header-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  width: 100%;
  height: 30%;
  background: inherit;
}

.passport-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 1rem 1.5rem;
  background-color: #c1e2be;
}

.passport-header > .item {
  flex: 0.5;
  color: #4d3b18;
}

.passport-header > .item + .center {
  flex: 2;
  font-weight: bold;
}

.passport-header > .item + .right {
  cursor: pointer;
}

.passport-header > .item > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.icon-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #f6f1e6;
  color: #877b70;
  font-weight: bold;
  border-radius: 1rem;
}
